body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("images/background-img.webp");
  background-size: cover;
  /* background-position: center center;  */
  overflow-x: hidden;
  user-select: none;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  outline: none;
  box-sizing: border-box;
}
